body {
	margin: 1em;
        font-family: Arial,Sans-serif;
	font-size: 80%;
}

.footer, .header {
	border: #8080f0 1px solid;
	background: #efefff; 
	padding: 4px;
	margin: 3px 1em 3px 1em;
}

.userpage_table_emph {
	font-weight: bold;
}

ul.menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: right;
}
ul.menu li {
	list-style: none;
	display: inline;
}
ul.menu li:hover {
	background: #ffcf80;
}

ul.menu li a, .searchcontrol a {
	text-decoration: none;
	color: #0000c0;
}
ul.menu li a:visited {
	color: #0000c0;
}

input, select, textarea {
	color: blue;
	font-weight: bold;
	font-size: 100%;
}

.actionbutton, ul.menu li, .searchcontrol {
	color: #0000c0;
	border: #8080f0 1px solid;
	background: #d0d0e0; 
	padding: 3px;
	margin: 2px;
	font-weight: bold;
}

.example
{
	font-weight: bold;
	color: blue;
}
.box
{
	font-family: sans-serif; 
	padding: 8pt; 
	margin-bottom: 1pt;
}




h1 {
        font: bold 130% Arial,Sans-serif;
        color: #606060;
}

h2 {
        font: bold 120% Arial,Sans-serif;
        color: #606060;
}

h3 {
        font: 120% Arial,Sans-serif;
        color: #606060;
}

h4 {
        font: 100% Arial,Sans-serif;
        color: #606060;
}



.archivetitle {
        font: 120% Arial,Sans-serif;
	color: #000000;
}

.searchfieldhelp,.formfieldhelp {
        font-size: small ;
}


.formfieldname, .searchfieldname {
        padding-top: 1em;
	font-weight: bold;
	font-size: 120%;
}

.formfieldidname {
	font-weight: bold;
	font-size: 120%;
}


.formfieldinput {
        padding-bottom: 3pt;
}
.formfieldidinput {
}


.formfieldcomment {
	font-style: italic;
        padding-bottom: 3pt;
}

.requiredstar,.requiredlang {
	color: #ff0000;
}


.alert {
	color: #ff0000;
        font: bold 100% ;
}

.namefieldheading {
	text-align: left;
	font: small ;
}

.searchorder {
        padding-top: 12pt;
}

.searchmustfulfill {
        padding-top: 12pt;
}

.main {
        margin: 1em;
}

dt {
	font-weight: bold;
}

.numeral {
	font-weight: bold;
}

.ignoredword {
	font-style: italic;
}


.subject_browser_opts, .subject_browser_selections, .subject_browser_search
{
	margin-left: 1em;
	margin-right: 1em;
	padding: 0.5em;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
}
.subject_browser_selections
{
	margin-top: 0.5em;
	background: #ffffaa;
}

.subject_browser_selections span.subject
{
	font-weight: bold;
}
.subject_browser_opts
{
	margin-bottom: 0.5em;
}
.subject_browser_selected
{
	font-style: italic;
}

.row_a
{
	background: #efefff; 
}
.row_b
{
	background: #f8f8ff; 
}

.row_a td, .row_b td
{
	border-top: #8080f0 1px solid;
	border-bottom: #8080f0 1px solid;
}
td.first_col 
{
	border-left: #8080f0 1px solid;
}
td.last_col 
{
	border-right: #8080f0 1px solid;
}
td.middle_col 
{
	border-right: #8080f0 1px solid;
	border-left: #8080f0 1px solid;
}


.status_row_heading, th, .submission_buttons, .searchbuttons, .searchcontrols
{
        font-family: Arial,Sans-serif;
	font-weight: bold;
	padding: 2px;
	border: #8080f0 1px solid;
	background: #efefff; 
}
th.empty_heading, tr.header_plain th {
	background: none;
	border-style: none;
}

.submission_buttons, .searchbuttons, .searchcontrols
{
	margin-top: 8pt;
	text-align: center;
        padding: 4px;
	text-decoration: none;
}
.searchcontrols 
{
	padding: 8px;
}
	
.problems
{
	margin-top: 8pt;
	margin-bottom: 8pt;
        border: 4px;
        padding: 16pt;
        border-style: solid;
        border-color: #ff0000 ;
        background-color: #f8f8f8;
	text-decoration: none;
}

.preview
{
	margin: 1em 0 1em 0;
	background: #f8f8ff;
	padding: 1em;
	border: 2px #c0c0ff dashed;
}
	
