
/* Tab Bar */

table.ep_tab_bar, td.ep_tab, td.ep_tab_selected, td.ep_tab_spacer {
/*	border: 1px dashed #f00; */
}

table.ep_tab_bar {
	margin-top: 10px;
	width: 100%;
	background: url(/style/images/tab_line.png) repeat-x bottom left;
}

td.ep_tab table, td.ep_tab_selected table {
	text-align: center;
	height: 20px
	border-collapse: collapse;
	margin-bottom: 5px;
}

td.ep_tab table {
	background: url(/style/images/grey_tab_right.png) no-repeat top right;
}
td.ep_tab_selected table {
	background: url(/style/images/blue_tab_right.png) no-repeat top right;
}

td.ep_tab a, td.ep_tab_selected a {
	display: block;
	height: 20px;
	padding-top: 2px;
	text-decoration: none;
	color: #000;
}

td.ep_tab a {
	background: url(/style/images/grey_tab_left.png) no-repeat top left;
	border-bottom: 1px #979797 solid;
}
td.ep_tab_selected a {
	background: url(/style/images/blue_tab_left.png) no-repeat top left;
	padding-bottom: 1px;
}

td.ep_tab_spacer {
	width: 20px;
}

.ep_tab_panel {
	padding: 12px;
	clear: both;
	background: #fff url(/style/images/toolbox.png);
	border-bottom: 1px solid #c0c0c0;
}

table.ep_tab_bar a {
	text-decoration: none;
}

