body {
	margin: 1em;
	font-family: Arial,Sans-serif;
	font-size: 80%;
}

.footer {
	clear: both;
}

.userpage_table_emph {
	font-weight: bold;
}

img.logo {
	float: right;
	padding-bottom: 4px;
	border-style: none;
}

ul.menu {
	background: #204f76;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.menu li {
	list-style: none;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	border-right: solid 2px white;
	font-weight: bold;
}

ul.menu li:hover {
	background: #279ae2;
}

ul.menu li a {
	text-decoration: none;
	color: white;
}
ul.menu li a:visited {
	color: white;
}

input, select, textarea {
	color: #204f76;
	font-weight: bold;
	font-size: 100%;
}

.actionbutton, .searchcontrol {
	color: #0000c0;
	border: #8080f0 1px solid;
	background: #d0d0e0; 
	padding: 3px;
	margin: 2px;
	font-weight: bold;
}
.searchcontrol a {
	text-decoration: none;
	color: blue;
}

.example
{
	font-weight: bold;
	color: blue;
}
.box
{
	font-family: sans-serif; 
	padding: 8pt; 
	margin-bottom: 1pt;
}




h1 {
        font: bold 130% Arial,Sans-serif;
        color: #606060;
}

h2 {
        font: bold 120% Arial,Sans-serif;
        color: #606060;
}

h3 {
        font: 120% Arial,Sans-serif;
        color: #606060;
}

h4 {
        font: 100% Arial,Sans-serif;
        color: #606060;
}



.archivetitle {
        font: 40px Arial,Sans-serif;
	color: #269ae3;
	text-decoration: none;
}

.searchfieldhelp,.formfieldhelp {
        font-size: small ;
}


.formfieldname, .searchfieldname {
        padding-top: 1em;
	font-weight: bold;
	font-size: 120%;
}

.formfieldidname {
	font-weight: bold;
	font-size: 120%;
}


.formfieldinput {
        padding-bottom: 3pt;
}
.formfieldidinput {
}


.formfieldcomment {
	font-style: italic;
        padding-bottom: 3pt;
}

.requiredstar,.requiredlang {
	color: #ff0000;
}


.alert {
	color: #ff0000;
        font-weight: bold;
	font-size: 100% ;
}

.namefieldheading {
	text-align: left;
	font-size: small;
}

.searchorder {
        padding-top: 12pt;
}

.searchmustfulfill {
        padding-top: 12pt;
}

.main {
        margin: 1em;
}

dt {
	font-weight: bold;
}

.numeral {
	font-weight: bold;
}

.ignoredword {
	font-style: italic;
}


.subject_browser_opts, .subject_browser_selections, .subject_browser_search
{
	margin-left: 1em;
	margin-right: 1em;
	padding: 0.5em;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
}
.subject_browser_selections
{
	margin-top: 0.5em;
	background: #ffffaa;
}

.subject_browser_selections span.subject
{
	font-weight: bold;
}
.subject_browser_opts
{
	margin-bottom: 0.5em;
}
.subject_browser_selected
{
	font-style: italic;
}

.row_a
{
	background: #efefff; 
}
.row_b
{
	background: #f8f8ff; 
}

.row_a td, .row_b td
{
	border-top: #8080f0 1px solid;
	border-bottom: #8080f0 1px solid;
}
td.first_col 
{
	border-left: #8080f0 1px solid;
}
td.last_col 
{
	border-right: #8080f0 1px solid;
}
td.middle_col 
{
	border-right: #8080f0 1px solid;
	border-left: #8080f0 1px solid;
}


.status_row_heading, th, .submission_buttons, .searchbuttons, .searchcontrols
{
	clear: both;
        font-family: Arial,Sans-serif;
	font-weight: bold;
	padding: 2px;
	border: #8080f0 1px solid;
	background: #efefff; 
}
th.empty_heading, tr.header_plain th {
	background: none;
	border-style: none;
}

.submission_buttons, .searchbuttons, .searchcontrols
{
	margin-top: 8pt;
	text-align: center;
        padding: 4px;
	text-decoration: none;
}
.searchcontrols 
{
	padding: 8px;
}
	
.problems
{
	margin-top: 8pt;
	margin-bottom: 8pt;
        border: 4px;
        padding: 16pt;
        border-style: solid;
        border-color: #ff0000 ;
        background-color: #f8f8f8;
	text-decoration: none;
}

.preview
{
	clear: both;
	margin: 1em 0 1em 0;
	background: #f8f8ff;
	padding: 1em;
	border: 2px #c0c0ff dashed;
}

hr {
	border: 0px;
	color: #ccc;
	background-color: #ccc;
	height: 4px;
}

hr.last {
	color: #240f78;
	background-color: #240f78;
}

.searchbar {
	color: #606060;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: solid 4px white;
	background: #ccc;
}

.searchbarbutton {
	color: #ccc;
	border: #606060 1px solid;
	background-color: #606060; 
	font-weight: bold;
	font-size: 80%;
	padding: 0;
}

.searchbarbox {
	font-size: 80%;
	border: #606060 1px solid;
}

.searchanyall {
	margin-top: 1em;
}


/* CONTROL PAGE */

.ep_control_view {
	border-right: solid black 1px;
	border-bottom: solid black 1px;
	border-left: solid black 1px;
	padding: 12px;
	clear: both;
}

.ep_control_view_tabs {
	border-bottom: solid black 1px;
	margin: 0;
	padding-bottom: 23px;
	padding-left: 10px;
}

.ep_control_view_tabs ul, .ep_control_view_tabs li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ep_control_view_tabs li {
	border: solid black 1px;
	float: left;
	border: solid 1px black;
	margin-right: 10px;
	background-color: #e0e0ff;
}

.ep_control_view_tabs a {
	text-decoration: none;
	display: block;
	padding: 3px 8px 3px 8px;
	font-size: 14px;
}
ul.ep_control_view_tabs li.ep_selected {
	border-bottom-color: white;
	background-color: #fff;
}
	
ul.ep_control_view_tabs li.ep_selected a {
	color: black;
}
