body {
	margin: 0pt;
        font-family: Helvetica,Arial,Sans-serif;
}

.header TABLE
{
	border: 0px; 
	border-bottom: 1px; 
	border-style: solid; 
	border-color: #000000 ;
}
.footer 
{
	padding-top: 8px;
}

input, select, textarea {
	color: blue;
	font-weight: bold;
	font-size: large;
}

.actionbutton {
	font-size: medium;
}

.example
{
	font-weight: bold;
	color: blue;
}
.box
{
	font-family: sans-serif; 
	padding: 8pt; 
	margin-bottom: 1pt
}

.faint
{
	color: #aaa;
}

.footer TABLE
{
	border: 0px; 
	border-bottom: 1px; 
	border-top: 1px; 
	border-style: solid; 
	border-color: #b0b0b0 #000 #000 #000;
}

h1 {
        font: bold x-large Helvetica,Arial,Sans-serif;
        color: #606060;
}

h2 {
        font: bold large Helvetica,Arial,Sans-serif;
        color: #606060;
}

h3 {
        font: large Helvetica,Arial,Sans-serif;
        color: #606060;
}

h4 {
        font: medium Helvetica,Arial,Sans-serif;
        color: #606060;
}

a.menulink {
}

p {
}

.menu {
        font: bold small sans-serif;
        text-align: right;
        margin-right: 12pt;
}

.archivetitle {
        font: large Helvetica,Arial,Sans-serif;
	color: #000000;
}

.searchfieldhelp,.formfieldhelp {
        font-size: small ;
}

.searchfieldname {
        padding-top: 12pt;
        padding-bottom: 3pt;
        font: bold medium;
}

.formfieldname {
        padding-top: 1em;
        font: bold medium Helvetica,Arial,Sans-serif;
}

.formfieldidname {
        font: bold medium Helvetica,Arial,Sans-serif;
}


.formfieldinput {
        padding-bottom: 3pt;
}
.formfieldidinput {
}


.formfieldcomment {
	font-style: italic;
        padding-bottom: 3pt;
}

.requiredstar,.requiredlang {
	color: #ff0000;
}


.alert {
	color: #ff0000;
        font: bold medium ;
}

.namefieldheading {
	text-align: left;
	font: small ;
}

.searchorder {
        padding-top: 12pt;
}

.searchbuttons {
        padding-top: 12pt;
}

.searchmustfulfill {
        padding-top: 12pt;
}

.main {
        margin-left: 16pt;
        margin-right: 12pt;
}

dt {
	font-weight: bold;
}

.numeral {
	font-weight: bold;
}

.ignoredword {
	font-style: italic;
}

.searchcontrols {
        border: 1px;
        padding: 4px;
        border-style: solid;
        border-color: #000000 ;
        background-color: #f0f0f0;
	text-decoration: none;
}

.subject_browser_opts, .subject_browser_selections, .subject_browser_search
{
	margin-left: 1em;
	margin-right: 1em;
	padding: 0.5em;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
}
.subject_browser_selections
{
	margin-top: 0.5em;
	background: #ffffaa;
}

.subject_browser_selections span.subject
{
	font-weight: bold;
}
.subject_browser_opts
{
	margin-bottom: 0.5em;
}
.subject_browser_selected
{
	font-style: italic;
}

.row_a
{
	background: #efefff; 
}
.row_b
{
	background: #f8f8ff; 
}

th
{
        font: bold small Helvetica,Arial,Sans-serif;
}

.submission_buttons
{
	margin-top: 8pt;
	text-align: center;
        border: 1px;
        padding: 4px;
        border-style: solid;
        border-color: #000000 ;
        background-color: #f0f0f0;
	text-decoration: none;
}
	
.problems
{
	margin-top: 8pt;
	margin-bottom: 8pt;
        border: 4px;
        padding: 16pt;
        border-style: solid;
        border-color: #ff0000 ;
        background-color: #f8f8f8;
	text-decoration: none;
}
	
