body {
	margin: 0pt;
        font-family: Helvetica,Arial,Sans-serif;
}

.header TABLE
{
	border: 0px; 
	border-bottom: 1px; 
	border-style: solid; 
	border-color: #000000 ;
}
.footer 
{
	padding-top: 8px;
}

input, select, textarea {
	color: blue;
	font-weight: bold;
	font-size: large;
}

.actionbutton {
	font-size: medium;
}

.example
{
	font-weight: bold;
	color: blue;
}
.box
{
	font-family: sans-serif; 
	border: outset; 
	border-width: 2px; 
	border-color: #bbf #99e #99e #bbf; 
	padding: 8pt; 
	background: #ccf; 
	margin-bottom: 1pt
}
.box h1, .box h2, .box h3
{
	margin: 0px;
	border: inset; 
	border-width: 2px; 
	background: #ddf; 
	color: blue;
	font-weight: bold;
	border-color: #99e #bbf #bbf #99e; 
	padding: 4pt; 
}
	

.footer TABLE
{
	border: 0px; 
	border-bottom: 1px; 
	border-top: 1px; 
	border-style: solid; 
	border-color: #b0b0b0 #000 #000 #000;
}

h1 {
        font: bold x-large Helvetica,Arial,Sans-serif;
        color: #606060;
}

h2 {
        font: bold large Helvetica,Arial,Sans-serif;
        color: #606060;
}

h3 {
        font: large Helvetica,Arial,Sans-serif;
        color: #606060;
}

h4 {
        font: medium Helvetica,Arial,Sans-serif;
        color: #606060;
}

a.menulink {
}

p {
}

.menu {
        font: bold small sans-serif;
        text-align: right;
        margin-right: 12pt;
}

.archivetitle {
        font: large Helvetica,Arial,Sans-serif;
	color: #000000;
}

.searchfieldhelp,.formfieldhelp {
        font-size: small ;
}

.searchfieldname {
        padding-top: 12pt;
        padding-bottom: 3pt;
        font: bold medium;
}

.formfieldname {
        padding-top: 1em;
        font: bold medium Helvetica,Arial,Sans-serif;
}

.formfieldidname {
        font: bold medium Helvetica,Arial,Sans-serif;
}


.formfieldinput {
        padding-bottom: 3pt;
}
.formfieldidinput {
}


.formfieldcomment {
	font-style: italic;
        padding-bottom: 3pt;
}

.requiredstar,.requiredlang {
	color: #ff0000;
}


.alert {
	color: #ff0000;
        font: bold medium ;
}

.namefieldheading {
	text-align: left;
	font: small ;
}

.searchorder {
        padding-top: 12pt;
}

.searchbuttons {
        padding-top: 12pt;
}

.searchmustfulfill {
        padding-top: 12pt;
}

.main {
        margin-left: 16pt;
        margin-right: 12pt;
}

dt {
	font-weight: bold;
}

.numeral {
	font-weight: bold;
}

.ignoredword {
	font-style: italic;
}

.searchcontrols {
        border: 1px;
        padding: 4px;
        border-style: solid;
        border-color: #000000 ;
        background-color: #f0f0f0;
	text-decoration: none;
}

body.vlit {
	margin: 8pt;
}

.vlit-charrange {
	color: #0000c0;
}

.vlit-highlight {
	color: #c00000;
}

