
/* EPrints 3 default workflow component-surround style */

/* ep_sr */

.ep_sr_component {
	padding: 0px;
	background-color: transparent;
	margin-bottom: 10px;
	margin-top: 10px;
}
.ep_sr_component .ep_sr_title {
	background-color: white;
	color: #444;
	border: 0;
}
.ep_sr_component .ep_sr_input {
	text-align: left;
	/*background-image: url(/images/style/toolbox.png);*/
	border: solid 1px #d8dbef;
	padding: 8px;
}

/* help style - not primetime */

.ep_sr_component .ep_sr_help {
	padding: 4px;
	background-image: url(/images/style/toolbox.png);
	border-left: solid 1px #d8dbef;
	border-right: solid 1px #d8dbef;
}
.ep_sr_component .ep_sr_show_help {
	background-image: url(/images/style/blue_bar.png);
	color: white;
	white-space: nowrap;
	border: solid 1px #d8dbef;
}
.ep_sr_component .ep_sr_hide_help {
	white-space: nowrap;
	border-left: solid 1px #d8dbef;
	border-right: solid 1px #d8dbef;
	border-top: solid 1px #d8dbef;
}
.ep_sr_component .ep_sr_show_help a {
	color: white;
}
.ep_sr_component .ep_sr_title {
	width: 100%;
	border-bottom: solid 1px #d8dbef;
}
.ep_sr_component .ep_sr_title_table {
	width: 100%;
}
