
.userpage_table_emph {
	font-weight: bold;
}


input, select, textarea {
	color: #204f76;
	font-weight: bold;
	font-size: 100%;
}

.searchcontrol a {
	text-decoration: none;
	color: blue;
}

.example
{
	font-weight: bold;
	color: blue;
}

.box
{
	font-family: sans-serif; 
	padding: 8pt; 
	margin-bottom: 1pt;
}





.searchfieldhelp,.formfieldhelp {
        font-size: small ;
}


.formfieldname, .searchfieldname {
        padding-top: 1em;
	font-weight: bold;
	font-size: 120%;
}

.formfieldidname {
	font-weight: bold;
	font-size: 120%;
}


.formfieldinput {
        padding-bottom: 3pt;
}
.formfieldidinput {
}


.formfieldcomment {
	font-style: italic;
        padding-bottom: 3pt;
}

.requiredstar,.requiredlang {
	color: #ff0000;
}


.alert {
	color: #ff0000;
        font-weight: bold;
	font-size: 100% ;
}

.namefieldheading {
	text-align: left;
	font-size: small;
}

.searchorder {
        padding-top: 12pt;
}

.searchmustfulfill {
        padding-top: 12pt;
}

dt {
	font-weight: bold;
}

.numeral {
	font-weight: bold;
}

.ignoredword {
	font-style: italic;
}


.subject_browser_opts, .subject_browser_selections, .subject_browser_search
{
	margin-left: 1em;
	margin-right: 1em;
	padding: 0.5em;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
}
.subject_browser_selections
{
	margin-top: 0.5em;
	background: #ffffaa;
}

.subject_browser_selections span.subject
{
	font-weight: bold;
}
.subject_browser_opts
{
	margin-bottom: 0.5em;
}
.subject_browser_selected
{
	font-style: italic;
}

.row_a
{
	background: #efefff; 
}
.row_b
{
	background: #f8f8ff; 
}

.row_a td, .row_b td
{
	border-top: #8080f0 1px solid;
	border-bottom: #8080f0 1px solid;
}
td.first_col 
{
	border-left: #8080f0 1px solid;
}
td.last_col 
{
	border-right: #8080f0 1px solid;
}
td.middle_col 
{
	border-right: #8080f0 1px solid;
	border-left: #8080f0 1px solid;
}


.status_row_heading, th, .submission_buttons, .searchbuttons, .searchcontrols
{
	clear: both;
        font-family: Arial,Sans-serif;
	font-weight: bold;
	padding: 2px;
	border: #8080f0 1px solid;
	background: #efefff; 
}
th.empty_heading, tr.header_plain th {
	background: none;
	border-style: none;
}

.submission_buttons, .searchbuttons, .searchcontrols
{
	margin-top: 8pt;
	text-align: center;
        padding: 4px;
	text-decoration: none;
}
.searchcontrols 
{
	padding: 8px;
}
	
.problems
{
	margin-top: 8pt;
	margin-bottom: 8pt;
        border: 4px;
        padding: 16pt;
        border-style: solid;
        border-color: #ff0000 ;
        background-color: #f8f8f8;
	text-decoration: none;
}

.preview
{
	clear: both;
	margin: 1em 0 1em 0;
	background: #f8f8ff;
	padding: 1em;
	border: 2px #c0c0ff dashed;
}


.searchanyall {
	margin-top: 1em;
}


/* Blister Bar */

.ep_blister_bar {
	width: 100%;
}
.ep_blister_node {
	background-image: url(/images/style/gray_bar.png);
	border: solid 1px #cccccc;
	text-align: center;
	padding: 4px;
}
.ep_blister_join {
	background-image: url(/images/style/blackline.png);
	background-repeat: repeat-x;
	background-position: center;
	width: 10px;
}
.ep_blister_node_selected {
	text-align: center;
	padding: 4px;
	border: solid 1px #204f76;
	background-image: url(/images/style/blue_bar.png);
}
.ep_blister_node_selected a {
	text-decoration: none;
	color: #ffffff;
}

/* toolbox and messages */

.ep_toolbox, .ep_message, .ep_warning, .ep_error {
	margin-bottom: 10px;
}

.ep_toolbox_title, .ep_message_title, .ep_warning_title, .ep_error_title {
	padding: 2px 10px 2px 10px;
}
.ep_toolbox_title {
	color: #808080;
}
.ep_message_title {
	color: #70cf70;
}
.ep_error_title {
	color: #ff8080;
}
.ep_warning_title {
	color: #cf9070;
}

.ep_toolbox_content, .ep_message_content, .ep_warning_content, .ep_error_content {
	padding: 10px;
}
.ep_toolbox_content {
	background-image: url(/images/style/toolbox.png);
	border: solid 1px #d8dbef;
}
.ep_message_content {
	background-image: url(/images/style/green_back.png);
	border: solid 1px #80ff80;
}
.ep_error_content {
	background-image: url(/images/style/red_back.png);
	border: solid 1px #ffc0c0;
}
.ep_warning_content {
	background-image: url(/images/style/orange_back.png);
	border: solid 1px #ffc080;
}

/* dev stuff */

.ep_close_icon {
	float: right;
	border: 0;
}
.ep_button_bar {
	text-align: center;
	padding: 4px;
	background-image: url(/images/style/toolbox.png);
	clear: both;
	border: solid 1px #d8dbef;
}
.status_row_heading, th, .submission_buttons, .searchbuttons, .searchcontrols
{
	text-align: center;
	padding: 4px;
	border: solid 1px #204f76;
	background-image: url(/images/style/gray_bar.png);
	clear: both;
	color: black;
	border-color: #ccc;
	font-weight: normal;
}
.actionbutton, .searchcontrol,.internalbutton {
	text-align: center;
	/*border: solid 1px #204f76;*/
	background-image: url(/images/style/blue_bar.png);
	color: white;
	font-weight: normal;
}

/* workflow hackery */

.wf_component {
	padding: 0px;
	background-color: transparent;
	margin-bottom: 10px;
	margin-top: 10px;
}
.wf_component .wf_title {
	background-color: white;
	color: #444;
	border: 0;
}
.wf_component .wf_input {
	text-align: left;
	/*background-image: url(/images/style/toolbox.png);*/
	border: solid 1px #d8dbef;
	padding: 8px;
}

/* help style - not primetime */

.wf_component .wf_help {
	padding: 4px;
	background-image: url(/images/style/toolbox.png);
	border-left: solid 1px #d8dbef;
	border-right: solid 1px #d8dbef;
}
.wf_component .wf_show_help {
	background-image: url(/images/style/blue_bar.png);
	color: white;
	white-space: nowrap;
	border: solid 1px #d8dbef;
}
.wf_component .wf_hide_help {
	white-space: nowrap;
	border-left: solid 1px #d8dbef;
	border-right: solid 1px #d8dbef;
	border-top: solid 1px #d8dbef;
}
.wf_component .wf_show_help a {
	color: white;
}
.wf_component .wf_title {
	width: 100%;
	border-bottom: solid 1px #d8dbef;
}
.wf_component .wf_title_table {
	width: 100%;
}
