.requiredlang {
	color: #ff0000;
}


dt {
	font-weight: bold;
}


.status_row_heading, th
{
	clear: both;
        font-family: Arial,Sans-serif;
	font-weight: bold;

	background-image: url(/images/style/gray_bar.png);
	background: #efefff; 
	color: black;
	border: solid 1px #ccc;

	text-align: center;
	padding: 4px;
}


th.empty_heading, tr.header_plain th {
	background: none;
	border-style: none;
}

.problems
{
	margin-top: 8pt;
	margin-bottom: 8pt;
        border: 4px;
        padding: 16pt;
        border-style: solid;
        border-color: #ff0000 ;
        background-color: #f8f8f8;
	text-decoration: none;
}







/* ??? */
.row_a
{
	background: #efefff; 
}
.row_b
{
	background: #f8f8ff; 
}

.row_a td, .row_b td
{
	border-top: #8080f0 1px solid;
	border-bottom: #8080f0 1px solid;
}
td.first_col 
{
	border-left: #8080f0 1px solid;
}
td.last_col 
{
	border-right: #8080f0 1px solid;
}
td.middle_col 
{
	border-right: #8080f0 1px solid;
	border-left: #8080f0 1px solid;
}
/* end of whatever this is */
