
.userpage_table_emph {
	font-weight: bold;
}



.example
{
	font-weight: bold;
	color: blue;
}




.requiredstar,.requiredlang {
	color: #ff0000;
}


dt {
	font-weight: bold;
}

.ignoredword {
	font-style: italic;
}





/* ??? */
.row_a
{
	background: #efefff; 
}
.row_b
{
	background: #f8f8ff; 
}

.row_a td, .row_b td
{
	border-top: #8080f0 1px solid;
	border-bottom: #8080f0 1px solid;
}
td.first_col 
{
	border-left: #8080f0 1px solid;
}
td.last_col 
{
	border-right: #8080f0 1px solid;
}
td.middle_col 
{
	border-right: #8080f0 1px solid;
	border-left: #8080f0 1px solid;
}


.status_row_heading, th
{
	clear: both;
        font-family: Arial,Sans-serif;
	font-weight: bold;
	padding: 2px;
	border: #8080f0 1px solid;
	background: #efefff; 
}
th.empty_heading, tr.header_plain th {
	background: none;
	border-style: none;
}

.problems
{
	margin-top: 8pt;
	margin-bottom: 8pt;
        border: 4px;
        padding: 16pt;
        border-style: solid;
        border-color: #ff0000 ;
        background-color: #f8f8f8;
	text-decoration: none;
}

.preview
{
	clear: both;
	margin: 1em 0 1em 0;
	background: #f8f8ff;
	padding: 1em;
	border: 2px #c0c0ff dashed;
}



/* toolbox and messages */

.ep_toolbox, .ep_message, .ep_warning, .ep_error {
	margin-bottom: 10px;
}

.ep_toolbox_title, .ep_message_title, .ep_warning_title, .ep_error_title {
	padding: 2px 10px 2px 10px;
}
.ep_toolbox_title {
	color: #808080;
}
.ep_message_title {
	color: #70cf70;
}
.ep_error_title {
	color: #ff8080;
}
.ep_warning_title {
	color: #cf9070;
}

.ep_toolbox_content, .ep_message_content, .ep_warning_content, .ep_error_content {
	padding: 10px;
}
.ep_toolbox_content {
	background-image: url(/images/style/toolbox.png);
	border: solid 1px #d8dbef;
}
.ep_message_content {
	background-image: url(/images/style/green_back.png);
	border: solid 1px #80ff80;
}
.ep_error_content {
	background-image: url(/images/style/red_back.png);
	border: solid 1px #ffc0c0;
}
.ep_warning_content {
	background-image: url(/images/style/orange_back.png);
	border: solid 1px #ffc080;
}

/* dev stuff */

.status_row_heading, th
{
	text-align: center;
	padding: 4px;
	border: solid 1px #204f76;
	background-image: url(/images/style/gray_bar.png);
	clear: both;
	color: black;
	border-color: #ccc;
	font-weight: normal;
}
