H1,H2,H3,H4 {
  	font-family: helvetica,arial,sans-serif;
  	color: #666666;
}

A.sidebar {
  	text-decoration: none;
	font-weight: bold;
  	font-family: helvetica,arial,sans-serif;
  	color: #ffffff;
}

A.sidebarcurrent {
  	text-decoration: none;
	font-weight: bold;
  	font-family: helvetica,arial,sans-serif;
  	color: #0000ff;
}

P {
	margin-left: 3em;
	margin-right: 1em;
}

TD.newstitle , TD.newsdate {
        font-weight: bold;
        font-family: arial,helvetica,sans-serif;
        background-color: #e0e0e0;
}
	
TD.newsdate {
        text-align: right;
}

TD.news , TD.newstitle , TD.newsdate {
        vertical-align: top;
        color: #000000;
}

